body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Helvetica;
    background-color: lightgray;
}
#logo {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    padding: 10px;
    color: darkgray;
    font-size: 100px;
    font-weight: 700;
}
#logo span {
    font-size: 80px;
    font-weight: 300;
}